body {
    padding-top: 1%;
    padding-bottom: 7.5%;
    background-attachment: fixed;
    min-width: 250px;
    max-width: 100%;
    background-image: url('/assets/img/background.jpg');
    background-size: 100%;
    text-decoration: none;
    font-family: 'Open Sans', serif !important;
    font-size: 13px !important;
}
[id^="tabone"] {
    background-color: #7f7fbf;
}
[id^="tabone"]:hover {
    background-color: white;
}
[id^="tabtwo"] {
    background-color: #9999cc;
}
[id^="tabone"]:hover {
    background-color: white;
}
[id^="tabthree"] {
    background-color: #b2b2d8;
}
[id^="tabone"]:hover {
    background-color: white;
}
a {
    color: black;
}
.close {
    color: black;
    font-size: 18px; 
}
hr {
    color: black;
    margin: 0px;
    padding: 1%;
}
#currentTask {
    padding-left: 18%;
    padding-right: 18%;
}
#instructions {
    padding-bottom: 50px;
    line-height: 125%;
}
* {
    border-radius: 0 !important;
}
#rm {
    margin-left: 20px;
}
#col1 {
    overflow: scroll;
    height: 425px !important;
    background-color: rgba(240,248,255,0.55);
    border: 1.5px solid lightgray;
}
#col2 {
    overflow: scroll;
    height: 235px !important;
    background-color: rgba(240,248,255,0.55);
    border: 1.5px solid lightgray;
}
#col3 {
    overflow: scroll;
    height: 150px !important;
    background-color: rgba(240,248,255,0.55);
    border: 1.5px solid lightgray;
}
#tasklist {
    overflow: scroll;
    height: 425px !important;
    background-color: rgba(240,248,255,0.55);
    border: 1.5px solid lightgray; /* #fae2fa */
}
#textform {
    width: 75%;
}
#txt {
    width: 100%;
}

/* Angular stuff */
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: white;
    border: 1px solid #dae2ea;
    color: rgb(85, 121, 133);
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}
